 <div>
    <h1>Hi!</h1>

    <h2>Welcome {{first_name}} {{last_name}}</h2>

    <button type='button'><a href="/products">Go to Product´s list</a></button>
    <br />
    <br />
    <button id='logoutBtn' type='button'>Log Out</button>

  </div>
  <script src="js/logout.js"></script>