<h1>Restore Password</h1>

<form action="/api/session/restore-password" method="post">
    <label>Email: </label><input type="email" name="email"><br/><br/>
    <label>Password: </label><input type="password" name="password"><br/><br/>
    <button type="submit">Restore Password</button>
</form>