<h1>Admin</h1>
<button><a href="/create-product">Create Product</a></button>
<button><a href="/update-product">Update Product</a></button>
<button><a href="/delete-product">Delete Product</a></button>