<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/{{style}}" />
    <style>
      li.product { background-color: lightskyblue; font-size: 20px; margin-top:
      20px; padding: 20px; } li { list-style:none; } li.navlist {
      display:inline-block; margin-left:200px; } #title{ font-weight: bold; }
      #btn{ margin-top:20px; margin-left:100px; } table { border: 3px solid
      black; height: 100px; margin: 0px auto; width: auto; margin-top:10px; } td
      { padding: 10px; border: 1px solid black; }

    </style>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>