<h1 style='text-align: center;'>Purchase Summary</h1>
<div class="container">
    <p>Total Amount to pay : $ {{ticket.amount}}</p>
</div>

<div>
    <button>Go To Payment</button>
</div>

<div>
    <h3>Unavailable products</h3>
    {{#each cart.products}}
        <ul>{{this.product.title}} </ul>
    {{/each}}
</div>