<h1>Restore Password</h1>

<form action="/api/session/restore-password?email={{email}}&&token={{token}}" method="post">
    <label>New Password: </label><input type="password" name="password"><br/><br/>
    <button type="submit">Restore Password</button>
</form>