<h1>Bienvenido</h1>
<h2>Hola {{{first_name}}}</h2>
<h3>Email: {{{email}}}, Edad: {{{age}}}</h3>

<form action="/api/session/logout" method="post">
  <button type="submit">Cerrar Sesion</button>
</form>