<h1>Iniciar Sesion</h1>
<form action="/api/session/login" method="post">
  <label>Email : </label><input type="email" name="email" id="emailInput" /><br
  /><br />
  <label>Password : </label><input
    type="password"
    name="password"
    id="passwordInput"
  /><br /><br />
  <button type="submit">Iniciar Sesion</button><br /><br />
  <button type="button"><a href="/recovery" id="recoveryBtn">Restaurar Password</a></button><br
  /><br />
  <label>No tienes cuenta?</label><button type="button"><a
      href="/register"
    >Registrarse</a></button>
</form>

<h5 id="resultMessagge"></h5>

<script src="js/login.js"></script>