<h1>Register</h1>
<form action="api/session/register" method="post">
  <label>Nombre: </label><input type="text" name="first_name" /><br /><br />
  <label>Apellido: </label><input type="text" name="last_name" /><br /><br />
  <label>Email: </label><input type="email" name="email" /><br /><br />
  <label>Edad: </label><input type="text" name="age" /><br /><br />
  <label>Password: </label><input type="password" name="password" /><br /><br />
  <button type="submit">Registrar</button><br /><br />
  <label>Ya tienes cuenta?</label><button type="button"><a href="/login">Iniciar
      Sesion</a></button>
</form>