<div>
  <h1>Add Product</h1>
  <form>
    <input type="text" id="title" placeholder="title" required />
    <input type="text" id="description" placeholder="description" required />
    <input type="text" id="price" placeholder="price" required />
    <input type="text" id="code" placeholder="code" required />
    <input type="text" id="stock" placeholder="stock" required />
    <select name="status" id="status">
      <option value="" disabled selected>Status</option>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <input type="text" id="category" placeholder="category" required />
    <button type="submit" id="submit">Enviar</button>
  </form>
  <div id="productos" style="margin-top: 10px; padding: 10px"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>