<h1>Send Email To Restore Password</h1>

<form action="/api/session/send-email" method="post">
    <label>Email: </label><input type="email" name="email"><br/><br/>
    <button type="submit">Send Email</button>
</form>