<h1 style="text-align: center;">Cart Detail</h1>
<div>
 <table>
    <tr>
        <td> Title </td>
        <td> Quantity </td>
        <td> Price </td>
    </tr>
{{#each cart.products}}
 <tr class="product">
        <td class="title">{{this.product.title}} </td>
        <td>  {{this.quantity}}   </td>
        <td>  $ {{this.product.price}}   </td>
        </tr>
{{/each}}
 </table>
</div>
    <button><a href="/products">Volver</a></button>